img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@font-face {
    font-family: customFont;
    src: url(Font.otf);
}

h1 {
    text-align: center;
    font-size: 350%;
    font-family: customFont;
}

body {
    background-color: black;
    color:cornsilk;
}