.dancer {
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: customFont;
    src: url(Font.otf);
}

h1 {
    text-align: center;
    font-size: 350%;
    font-family: customFont;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: black;
    color:cornsilk;
}

.construction {
    display: inline-flexbox;
    width: 10%;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.constructionFlip {
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div {
    text-align: center;
}